.button-extensions
{
    margin-top: 15px;
    height:50px;
    width:320px;
    font-size: 16px;
    background-color: #6c6;
    color: #fff;
    border-radius: .155em;
    transition: background-color .2s;
}
.button-extensions>.Prev
{
    width:calc(31% - 1px);

    border-right: 1px solid #dedede;
    height: 50px;  /* не в % */
    line-height: 50px;
    float: left;
    text-align: center;
}
.button-extensions>.Prev a
{
    color:white;
    text-decoration: none;
}
.button-extensions>.progressBar{
    height: 100%;
    width: 69%;
    float: left;
    position: relative;
    box-sizing: content-box;
}
.progress-bar {
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    box-sizing: content-box;
    background-color: white;
    height: 25px;
    width: 180px;
    padding: 5px;

    border-radius: 5px;
    text-align: left;
}
.progress-bar span {
    display: inline-block;
    height: 25px;
    width: 44%;
    box-sizing: content-box;
    border-radius: 3px;
    background-color:#6c6;
    transition: width 1.9s ease-in-out;
}