/****************CheckBOX********************/
.switch {
    position: relative;
    display: inline-block;
    width: 54px; /*60*/
    height: 30px; /*34*/
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color1);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

/********************************************/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color1);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color1);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color1);
}

input[type="file"] {
    display: none;
}

/*BlockNavigation*/
.BlockNav {
    height: 100%;
    width: 10%;
    position: fixed;
    right: 0;
    margin-top: -50px;
    border-left: 1px solid var(--color1);
}

.BlockNav a {
    cursor: default;
    text-decoration: none;
}

.ContNav {
    height: 20%;
    width: 100%;
}

.BlockMenu {
    height: 54%;
    width: 60%;
    cursor: pointer;
}

.ImgOfBlockMenu {
    height: 52%;
    width: 100%;
    text-align: center;
}

.ImgOfBlockMenu img {
    height: 36px;
}

.TextOfBlockMenu {
    height: 44%;
    width: 100%;
    text-align: center;
    color: #808080;
    font-size: 16px;
}

/**/
/*****************************************/
.BlockDisk {
    width: 90%;
}

.BlockFild {
    color: var(--color1);
    margin-top: 50px;
    margin-left: 63px;
    height: calc(100% - 120px);
    width: calc(100% - 140px);
    border: 7px dashed var(--color1);
    border-radius: 10px 10px 10px 10px;
}

.BlockFild img {
    height: 160px;
}

#DropZone.hover {
    border-color: #BDBDBD;
}

.BlockDragAndDrop {
    height: 50px;
    width: 450px;
}

.TextDragTheFile {
    float: left;
    font-size: 35px;
    margin-left: 20px;
    width: calc(100% - 180px);
}

.ButtonDragTheFile {
    float: left;
    width: 130px;
}

.CustomFileUpload {
    font-size: 25px;
    height: 48px;
    width: 130px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color2);
    border: 0px;
    color: white;

    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}

.BlockCheckBoxPassword {
    height: 60px;
    width: 400px;
}

.TextCheckBoxPassword {
    font-size: 20px;
    width: calc(100% - 100px);
}

.CheckBoxPassword {
    width: 70px;
}

.BlockPasswordOfUpload {
    height: 37px;
}

#PasswordOfUpload {
    outline: none;
    display: none;
    height: 36px;
    width: 180px;
    border: 3px solid var(--color1);
    border-left: 5px solid var(--color2);
    padding-left: 12px;
    font-size: 17px;
    color: var(--color2);
    border-radius: 3px 3px 3px 3px;
}

.BlockProgress {
    position: absolute;
    margin-top: 50px;
    height: 43px;
    width: 82.5%;
    left: 0;
    right: 9.6%;
}

/*Зависимость с JS!!!*/
.podBlockProgress {
    font-size: 22px;
    color: blue;
    display: none;
    width: 300px;
    background-color: #E6E6E6;
    height: 43px;
    border-radius: 10px 10px 10px 10px;

}

#Progress {
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    margin-top: 4px;
    color: #E6E6E6;
    top: 0;
    bottom: 0;
    height: calc(100% - 8px);
    margin-left: 5px;
    width: 0px;
    background-color: var(--color2);
    transition: 0.2s;
}

#BlockAnswerupLoadFile {
    position: absolute;
    color: white;
    text-align: center;
    width: 300px;
    height: 43px;
}

.BlockGoToDisk {
    height: 70px;
    width: 100%;
}

.BlockGoToDisk img {
    height: 35px;
}

#ButtonGoDown {
    cursor: pointer;
}

/**************************************************/
/*						DISK					  */
/**************************************************/
.Disk {
    padding-top: 50px;
    min-height: 100%;
    background-color: #F5F8FA;
    padding-bottom: 50px;
}

.PodBlockDisk {
    margin: auto;
    top: 0px;
    width: 64%;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #D3E0E9;

}

.MainTitlePodBlockDisk {
    border-radius: 10px 10px 0px 0px;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #D3E0E9;
}

.BlockTypeOfDisk {
    width: 6%;
    height: 100%;
    float: right;
}

.LastTypeDisk {
    margin-right: 15px;
}

.BlockTypeOfDisk img {
    height: 30px;
}

.BlockFilesDisk {

}

.MainBlockFiles {
    height: 52px;
    width: 100%;
    border-bottom: 1px solid #D3E0E9;
    cursor: pointer;
}

.BlockTypeFiles {
    width: 6%;
    float: left;
}

.BlockTypeFiles img {
    height: 26px;
}

.BlockNameFiles {
    float: left;
    padding-left: 20px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.BlockSettingFiles {
    float: right;
    width: 9%;
    height: 100%;
}

.BlockSettingFiles img {
    height: 22px;
}

.NameOfFiles {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    color: black;
}

.KolFilesName {
    color: var(--color2);
}

.AndKolFilesName {
    color: var(--color2);
}

.BlockBlockFiles {
    float: left;
    width: 5%;
}

.BlockBlockFiles img {
    height: 25px;
}

/**/
.BlockAreaCheckFile {
    display: none;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.55);
}

.BlockCheckFile {
    z-index: 300;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    margin-top: 150px;
    background-color: white;
    height: 400px;
    width: 550px;
    border-radius: 6px 6px 6px 6px;
}

.BlockHeadCheckFile {
    border-radius: 6px 6px 0px 0px;
    height: 45px;
    width: 100%;
    background-color: #F5F8FA;
    border-bottom: 1px solid #D3E0E9;
}

.BlockBodyCheckFile {
    height: 250px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.BlockBodyCheckFile::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
}

.BlockBodyCheckFile::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);

}

.BlockBodyCheckFile::-webkit-scrollbar-thumb {
    background-color: #D3E0E9;
    outline: 1px solid #F5F8FA;
}

.BlockUseCheckFile {
    height: 65px;
    width: 100%;
    background-color: #F5F8FA;
    border-bottom: 1px solid #D3E0E9;
}

.BlockBottomCheckFile {
    height: 40px;
    background-color: #F5F8FA;
    border-radius: 0px 0px 6px 6px;
}

#CloseCheckFile {
    float: right;
    width: 77px;
    height: 100%;
}

#CloseCheckFile img {
    height: 28px;
}

.BlockFilesOfCheckFile {
    border-bottom: 1px solid #D3E0E9;
    height: 41px;
    width: 100%;
}

.BlockDownloadFiles {
    float: right;
    height: 100%;
    width: 67px;
}

.DownloadFileButton {
    height: 21px;
    cursor: default;
}

.TypeOfFileCheckFile {
    height: 100%;
    width: 60px;
    float: left;
}

.TypeOfFileCheckFile img {

    height: 21px;
}

.NameOfFileCheckFile {
    float: left;
    width: 340px;
    height: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.DownloadZipCheckFile {
    float: left;
    height: 100%;
    width: 160px;
}

#DownloadZipFiles {
    width: 120px;
    height: 35px;
    background-color: #81BEF7;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

#DownloadZipFiles img {
    height: 20px;
}

.IcoDownloadZipFiles {
    float: left;
    width: 29%;

}

.TextDownloadZipFiles {
    width: 67%;
    float: left;
    font-size: 11px;
}

.GetLinkCheckFile {
    float: left;
    height: 100%;
    width: 90px;
}

#CopyLinkCheckFiles {
    width: 90px;
    height: 35px;
    background-color: gray;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

#CopyLinkCheckFiles img {
    height: 20px;
}

.IcoCopyZipFiles {
    float: left;
    width: 33%;

}

.TextCopyZipFiles {
    width: 63%;
    float: left;
    font-size: 11px;
}

.CheckPasswordCheckFile {
    float: right;
    height: 100%;
    width: 210px;
}

.BlockCheckPassword {
    width: 170px;
    height: 35px;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #D3E0E9;
    border-right: 0px;
}

.TextCheckPassword {
    width: calc(77% - 1px);
    height: 100%;
    float: left;
}

.IcoCheckPassword {
    width: 23%;
    height: 100%;
    background-color: gray;
    border-radius: 0px 5px 5px 0px;
    float: right;
    border-left: 1px solid #D3E0E9;
    cursor: pointer;
}

.IcoCheckPassword:hover {
    transition: 0.3s;
    background-color: var(--color2);
}

.IcoCheckPassword:not(:hover) {
    transition: 0.3s;
}

#inputCheckpass {
    outline: none;
    height: 100%;
    width: 100%;
    border: 0px;
    padding-left: 12px;
    font-size: 14px;
    color: var(--color2);
}

.IcoCheckPassword img {
    height: 16px;
}

#CloseAreaOfFiles {
    cursor: pointer;
}

.KolFilesMainBlock {
    padding-left: 7px;
    height: 100%;
    width: 85px;
    float: left;
}