/****************CheckBOX********************/
.body
{
	width: 300px;
}
.switch
{
	position:relative;
	display:inline-block;
	width:60px;
	height:34px;
	outline: none;
}
.switch input{display:none;}
.slider
{
	position:absolute;
	cursor:pointer;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:#F3F4F6;
	-webkit-transition: .4s;
	transition:.4s;
}
.slider:before
{
	position:absolute;
	content:"";
	height:26px;
	width:26px;
	left:4px;
	bottom:4px;
	background-color:white;
	-webkit-transition: .4s;
	transition:.4s;
}
input:checked + .slider
{
	background-color: #66cc66;
}
input:focus + .slider
{
	background-color:#6c6;
}
input:checked + .slider:before
{
	-webkit-transform:translateX(26px);
	-ms-transform:translateX(26px);
	transform:translateX(26px);
}
.slider.round
{
	border-radius:34px;
}
.slider.round:before
{
	border-radius:50%;
}
/********************************************/
.CheckBox
{
	position: absolute;
	right: 10px;
	top: 5px;
	text-align:right;
}
.title
{
	margin:10px;
	color: #66cc66;
	font-size:17px;
}
.title1
{
	margin:10px;
	margin-top: 30px;
	color: #66cc66;
	font-size:17px;
}
a.button1 {
	position: absolute;
	right: 10px;
	bottom: 5px;
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .6em 1em .7em;
	/*calc(.8em + 3px);*/
	border-radius: 5px;
	background: rgb(103, 204, 103);
	box-shadow: 0 -3px rgb(94, 185, 94) inset;
	transition: 0.2s;
}
a.button1:hover { background: rgb(102, 195, 102); }
a.button1:active {
	background: rgb(88, 155, 88);
	box-shadow: 0 3px rgb(80, 155, 80) inset;
}